/*               GLOBAL              */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background: white;
    font-family: 'Lora', serif;
}
html, html a{
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body{
    margin: auto;
    max-width: 900px;
    background: white;
    color: rgb(87, 87, 87);
}













/*               HEADER              */

header{
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid;
    padding-right: 20px;
}
#logo{
    position: absolute;
    font-size: 32px;
    font-weight: 100;
    top: 0px;
    left: 20px;
    line-height: 32px;
}
#sub{
    position: absolute;
    font-size: 10px;
    top: 40px;
    left: 20px;
}
#addlink{
    position: relative;
    float: right;
    text-align: right;
    font-size: 15px;
    padding: 5px;
    top: 12px;
}
#editlink{
    position: relative;
    float: right;
    text-align: right;
    font-size: 15px;
    padding: 5px;
    top: 12px;
}
#addlink:hover, #editlink:hover{
    cursor: pointer;
}










/*               LOGIN FEATURE              */

#login{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0px solid rgb(99, 99, 99);
    transition: height 1s ease-in-out, visibility 0s ease 1s, border-bottom 0s ease 1s;
}
#login.active{
    height: 100px;
    border-bottom: 1px solid rgb(99, 99, 99);
    visibility: visible;
    transition: height 1s ease-in-out, visibility 0s ease 0s, border-bottom 0s ease, -webkit-filter 0.2s;
}
/*#loginmask{
    display: none;
    position: fixed;
    top: 0;
    max-width: 900px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.71);
    z-index: 5;
    transition: opacity 0.5s ease-in-out 0.5s;
}
#login{
    position: fixed;
    width: 300px;
    top: 150px;
    left: 50%;
    margin-left: -150px;
    padding: 5px;
    transition: 0.5s;
}
@media(max-width: 400px){
    #login{
        top: 50px;
        left: 0;
        margin-left: 0px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
} */
#login.success{
    top: -250px;
}
#loginmask.success{
    opacity: 0;
}
#login > p{
    word-wrap: break-word;
    text-align: center;
    margin: 0px 0px 10px 0px;
}
#login > label{
    float: left;
    width: 70px;
    margin-right: 5px;
}
#keyin{
    width: calc(100% - 75px);
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.keybutt{
    float: right;
    display: inline;
    margin-left: 5px;
    height: 20px;
    width: 50px;
}










/*               ADD FEATURE              */

#add{
    overflow: hidden;
    visibility: hidden;
    position: relative;
    height: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0px solid rgb(99, 99, 99);
    transition: height 1s ease-in-out, visibility 0s ease 1s, border-bottom 0s ease 1s;
}
#add.active{
    height: 100px;
    border-bottom: 1px solid rgb(99, 99, 99);
    visibility: visible;
    transition: height 1s ease-in-out, visibility 0s ease 0s, border-bottom 0s ease, -webkit-filter 0.2s;
}
#addform{
    float: left;
    width: calc(100% - 150px);
    height: 100%;
    padding-top: 10px;
}
form > div{
    margin: 0px 0px 8px 0px;
    overflow: hidden;
    clear: both;
}
form > div > label{
	float: left;
	width: 50px;
}
form > div > div{
    width: calc(100% - 50px);
    float: right;
}
#linkin, #titlein{
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#thumbwrap{
    padding: 10px 0px 10px 10px;
    height: 100%;
    float: right;
    overflow: hidden;
    display: inline;
}
#thumbnail{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    display:-webkit-flex;
    height: 78px;
    width: 140px;
}
#addbutt{
    background: none!important;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#addbutt:focus{
    outline: none!important;
}
.cc{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.cc.found{
    visibility: hidden;
}
#dropmessage, #badlinkmessage{
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.71);
    display: none;
}
@media (max-width: 500px){
    #add.active{
        height: 140px;
    }
    #addform{
        float: none;
        width: 100%;
    }
    #thumbwrap{
        display: none;
    }
    form > div > label{
        float: none;
    }
    form > div > div, form > div > fieldset > div{
        width: 100%;
        float: none;
    }
    #linkin, #titlein{
        width: 100%; 
    }
    #addbutt{
        float: right;
    }
}






/*               TRACK LIST              */

#tracklist{
    margin: 0;
    list-style-type: none;
    background: white;
    padding: 10px 20px 10px 20px;
}
.trackwrap{
    /*background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(214, 205, 189) 100%);*/
    height: 24px;
    width: 100%;
    margin-bottom: 2px;
    padding: 0px 0px 0px 2px;
    overflow: hidden;
    transition: 1.5s;
}
.tracklink{
    display: block;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scorewrap{
    height: 24px;
    float: right;
    padding: 0px 2px 0px 2px;
}
.trackscore{
    margin: 0;
    display: inline;
    right: 52px;
    font-size: 14px;
    text-align: right;
    line-height: 24px;
}
.upvote, .downvote{
    display: inline;
    height: 20px;
    width: 20px;
}







/*               FOOTER              */

footer{
    position: relative;
    width: 100%;
    height: 40px;
    color: rgb(90, 90, 90);
    background: white;
    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);
}
#us{
    position: absolute;
    font-size: 10px;
    top: -2px;
    left: 20px;
}









/*               COLOURS              */

.up{
    background: rgba(0, 255, 20, 0.4);
    transition: 0.5s;
}
.down{
    background: rgba(255, 0, 0, 0.4);
    transition: 0.5s;
}
.waiting{
    background: rgba(255, 157, 0, 0.4);
    transition: 0.5s;
}








/*               MISC              */

button, #addbutt{
    background: white!important;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
button:focus, #addbutt:focus{
    outline: none!important;
}
button:active, #addbutt:active{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input{
    border:1px solid rgb(99, 99, 99);
}
input:focus{
    outline: none;
}
input, button{
    font-family: 'Lora', serif;
    color: rgb(56, 56, 56);
}
a{
    text-decoration: none;
    color: rgb(87, 87, 87);
}
a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(220, 20, 242);
}
/*a:visited{
    color: red;
}*/